html {
    background-image: url('../img/Background.png');
    --main-font: Poppins, Arial;
    --main-color: #366eff; 
}
.header {
    display:flex;
    align-items: center;
    margin-top: 20px;
    
}

.header_logo {
color: var(--main-color);
font-family: var(--main-font);
font-size: 42px;
font-weight: 700;
margin: 0 55px 0 83px ;
}

.header_link {
color: #000000;
font-family: var(--main-font);
font-size: 25px;
margin: 0 74px 0 0;
}