html {
  background-image: url('../img/Background.png');
  --main-font: Poppins, Arial;
  --main-color: #366eff;
}
img {
  max-width: 90%;
}
.main-page {
  /* display: none; */
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_logo {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.header_link {
  color: #000000;
  font-family: var(--main-font);
  font-size: 25px;
  text-decoration: none;
  margin: 0 10px;
}

.header_link:hover {
  color: var(--main-color);
}
.active-tab {
  color: var(--main-color);
}
.main-page_row {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-page-title {
  color: #000000;
  font-family: var(--main-font);
  font-size: 70px;
  font-weight: 700;
  line-height: 93.52px;
  position: relative;
}

.main-page-title_line::before {
  content: url('../img/title_line.png');
  position: relative;
  top: -35px;
}

.menu-btn {
  width: 264px;
  height: 58px;
  border-radius: 100px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3.25px;
  text-transform: uppercase;
}

.menu-btn_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn_text {
  margin-left: 19px;
}

#main-img {
  max-width: 100%;
}

/*Media queries for main-page*/
@media (max-width: 690px) {
  .main-page_row {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  #main-img {
    margin-top: 50px;
  }
  .main-page_header {
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .main-page-title {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 320px) {
  .main-page-title {
    font-size: 60px;
  }
  .main-page-title_line::before {
    display: none;
  }
}

.team {
  margin-top: 88px;
  display: none;
}
.subtitle {
  text-align: center;
  color: #000000;
  font-family: var(--main-font);
  font-size: 53px;
  font-style: normal;
  text-transform: uppercase;
}
.team_row {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team_row_container {
  margin: 20px;
}
.team_member {
  margin: 15px 30px;
  text-align: center;
}
.team_member_title {
color: #000000;
font-family: var(--main-font);
font-size: 44px;
text-transform: uppercase;
}
.team_member_subtitle {
color: #5e6883;
font-family: var(--main-font);
font-size: 40px;
text-transform: uppercase;
}

.menu {
  display: none;
  margin-top: 40px;
}
.menu_row {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.menu_row_container {
  margin: 20px 10px;
}
.menu_item-row {
  text-align: center;
  margin: 30px 15px;
}
#cheeseburger,#hamburger {
  margin-left: 20px;
}

.menu-item_title{
color: #000201;
font-family: var(--main-font);
font-size: 39px;
text-align: center;
}
.menu-item_subtitle {
color: #8a8a8a;
font-family: var(--main-font);
font-size: 35px;
text-align: center;
}
.menu-item_price-btn {
width: 245px;
height: 90px;
border-radius: 50px;
background-color: #366eff;
outline: none;
border: none;
color: #ffffff;
font-family: var(--main-font);
font-size: 39px;
font-weight: 700;
text-align: center;
margin-top: 30px;
}
.contacts {
  display: none;
  margin-top: 46px;
}
.contacts_image-container {
  text-align: center;
}

.contacts_addres {
  margin-top: 40px;
}
.contact_phone-number {
  margin: 20px 0 30px 0;
}
.contacts-subtitle2 {
  color: #000000;
  font-family: var(--main-font);
  font-size: 39px;
  text-align: center;
}

.contacts_subtitle {
  margin-bottom: 30px;
}

.contacts-img {
  max-width: 90%;
}

@media (max-width: 390px) {
  .subtitle,
  .contacts-subtitle {
    font-size: 40px;
  }
}
